/* main text color #212121 */

/* secondary text color #757575 */

/* background color #FFFFFF * /

/* secondary background color #F5F4FA */

/* accent color #2196F3 * /

/* color of social networks in the section Наша команда and Постоянные клиенты #AFB1B8*  /

/* footer navigation color rgba(255, 255, 255, 0.6) * /

/* coryright color rgba(255, 255, 255, 0.4) */

:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --background-color: #ffffff;
  --secondary-background-color: #f5f4fa;
  --accent-color: #2196f3;
  --footer-navigation-color: rgba(255, 255, 255, 0.6);
  --copyright-color: rgba(255, 255, 255, 0.4);
}

/* Body */
body {
  color: var(--primary-text-color);
  background-color: var(--background-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

/* ul */
ul {
  list-style: none;
}

/* Logo */
.logo {
  color: var(--primary-text-color);
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  text-decoration: none;
}

.logo:focus {
  color: var(--accent-color);
}

/* Site-nav */
.site-nav .link {
  color: var(--primary-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus,
.site-nav .link:active {
  color: var(--accent-color);
}

/* Contact */
.contact .link {
  color: var(--secondary-text-color);
}
.contact .link:hover,
.contact .link:focus {
  color: var(--accent-color);
}
/* Hero */
.hero-title {
  color: var(--background-color);
}

/* Button */
button {
  color: var(--primary-text-color);
  background-color: var(---secondary-background-color);
}
button:hover,
:focus {
  color: var(--background-color);
  background-color: var(--accent-color);
}

.button {
  color: var(--background-color);
  background-color: var(--accent-color);
}

/* Section */
.section-title {
  color: var(--primary-text-color);
}
.section-title:focus {
  color: var(--accent-color);
}

.section-subtitle {
  color: var(--primary-text-color);
}

.section-text {
  color: var(--secondary-text-color);
}

.section-caption {
  color: var(--background-color);
}

.section-heading {
  color: var(--primary-text-color);
}
.section-headline {
  color: var(--secondary-text-color);
}

/* Footer */
.footer .logo {
  color: var(--background-color);
}
.footer .logo:focus {
  color: var(--accent-color);
}
.footer .adress {
  color: var(--background-color);
}
.footer .link {
  color: var(--footer-navigation-color);
}
.footer .title {
  color: var(--background-color);
}
.footer .copyright {
  color: var(--copyright-color);
}

/* Portfolio.html */

.features .link {
  color: var(--primary-text-color);
}
.features .link:hover,
.features .link:focus {
  color: var(--accent-color);
}

.benefits .title {
  color: var(--primary-text-color);
}
.benefits .text {
  color: var(--secondary-text-color);
}
.benefits .title:hover,
.benefits .title:focus {
  color: var(--accent-color);
}
